<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>
  
  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Student homelessness rises in rural areas</h1>
        <p>The number of homeless students in Washington has climbed nearly 34 percent over the past five years, even in rural districts, where there’s often little help for youth and families without a roof. Click on a district to see how numbers have changed, and how many shelter beds there are for youth and families.</p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=7>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Change in homeless-student enrollment from 2012-13 to 2016-17</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #d73027"></span> Over 100% increase</li>
            <li>
              <span class="block" style="background-color: #fdae61"></span> 50 to 99%</li>
            <li>
              <span class="block" style="background-color: #fee090"></span> 1 to 49%</li>
            <li>
              <span class="block" style="background-color: #E5E5E5"></span> 0%</li>
            <li>
              <span class="block" style="background-color: #abd9e9"></span> -49 to -1%</li>
            <li>
              <span class="block" style="background-color: #74add1"></span> -99 to -50%</li>
            <li>
              <span class="block" style="background-color: #4575b4"></span> -100% decrease</li>
          </ul>
        </aside>
      </div>


      <div class="source">Note: School districts with 10 or fewer homeless students or with only one year of data were reported as a zero percent change.<br>Sources: Seattle Times analysis, Office of Superintendent of Public Instruction, Washington State Department of Commerce (Shelter beds reported to the state as of January 2018)
        <span class="credit">Emily M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
